<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_telopresto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_telopresto_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Telopresto"
        tools:targetApi="31">
        <activity
            android:name=".TI.PerfilUsuarioTI"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>
        <activity
            android:name=".TI.MotivoSolicitudRechaza"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.Solicitudes_detalle"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.listadoAlumnoAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.listadoUsuarioAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.reportesAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WhatIs"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />




        </activity>
        <activity
            android:name=".Login_principal"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewPasswordActivity"
            android:exported="false"
            android:parentActivityName=".Login_principal">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForgetPassword"
            android:exported="false"
            android:parentActivityName=".Login_principal">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.agregar_usuarioti_admin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".signIn"
            android:exported="false"
            android:parentActivityName=".Login_principal">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cliente.agregarSolicitud"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.solicitud_rechazada_usuaurioti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.solicitud_aprobada_usuarioti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.listaSolicitudesUsuario"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.editar_equipo_usuarioti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.agregar_equipo_usaurioti"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TI.listadoEquiposUsuario"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />



        </activity>
        <activity
            android:name=".Cliente.Cliente_solicitudes_detalles"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cliente.Cliente_solicitudes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cliente.Cliente_reserva"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cliente.Cliente_detalles"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cliente.Cliente_lista"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />




        </activity>
        <activity
            android:name=".SplashSreen"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>